{
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "semi": "error",
        "no-use-before-define": ["error", "nofunc"],
        'no-process-exit': 0
    },
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "plugins": [
        "node"
    ]
}
